version: '3.8'

services:
  gateway-service:
    build: ./GatewayService
    ports:
      - "8080:8080"
  payment-service:
    build: ./PaymentService
    ports:
      - "8081:8080"
  music-service:
    build: ./MusicService
    ports:
      - "8082:8080"
  admin-service:
    build: ./AdminService
    ports:
      - "8083:8080"
  user-service:
    build: ./UserService
    ports:
      - "8084:8080"      
  feed-service:
    build: ./FeedService
    ports:
      - "8085:8080"   
  like-service:
    build: ./LikeService
    ports:
      - "8086:8080"   